@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes float {
    0% {
      transform: translateY(0px) translateX(0px);
    }
    50% {
      transform: translateY(-30px) translateX(15px);
    }
    100% {
      transform: translateY(0px) translateX(0px);
    }
  }
  
  .animate-float {
    animation-name: float;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
  }
  